@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif !important;
    color: #212A3E;
}

figure{
    padding-left:7%;
    padding-top: 7%;
    margin-left: 7%;
}


#intro{
    display: flex;
    align-items: center;
}

#intro > #title{
    flex-direction: column;
    padding-left: 5%;
    padding-top: 7%;
    margin-right: 7%;
}

#biography{
    text-align: center;
    padding: 40px;
}

h2{
    text-align: center;
    text-decoration: underline;
    margin: 1% ;
}

#achievement{
    padding: 0px;
    margin-left: 20%;
    padding-bottom: 40px;
}

#title > p{
    margin: 2% 0%;
}

img{
    width: 400px;
    height: 400px;
}

.read-more{
    color: #212A3E;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 6px;
    transition-duration: 0.4s;
    border: 2px solid #212A3E;

}

.read-more:hover{
    background-color:#212A3E;
    color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;

}

html{
    scroll-behavior: smooth;
}
aside{
    width: 40%;
    float: right;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px yellowgreen;
    font-style: italic;
    color: #29627e;
}



.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #212A3E;
    height: 4rem;
}

.nav-bar > a {
    text-decoration: none;
    color:white;
    font-size: larger;
}

.res{
    text-align: center;
}

.quote{
    margin-top: 80px;
}
